.navbar {
  /* height: 50px; */
  position: absolute;
  backdrop-filter: blur(12px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
  z-index: 1;
}

.left_items {
  display: flex;
  gap: 10px;
}

.right_items {
  display: flex;
  gap: 10px;
}
