.icon {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 48;
  user-select: none;
  padding: 4px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.icon.hoverable:hover {
  cursor: pointer;
  /* color: var(--primary-color); */
  background: #ffffff10;
}

.icon.small {
  font-size: 16px !important;
  margin: -3px 0 -3px 0;
}
.icon.medium {
  margin: -8px 0 -8px 0;
  font-size: 26px !important;
}
.icon.large {
  margin: -12px -10px -12px -10px;
  font-size: 36px !important;
}
