.input {
  border: 1px solid rgb(51, 44, 59);
  border-radius: 6px;
  border-bottom: 3px solid #9f9f9f;
  background: rgba(255, 255, 255, 0.05);
  font-size: 14px;
  transition: all 0.3s ease;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 0 10px;
}

.input:focus-within,
.input:focus-within.input:hover {
  border-bottom: 3px solid #3234a7;
  background: rgba(255, 255, 255, 0);
}

.input:active {
  border-bottom: 2px solid #a332a7;
}

.input:hover {
  background: rgba(255, 255, 255, 0.1);
}

.input::placeholder {
  color: #d3d3d3;
}

input {
  border: none;
  background: transparent;
  margin-top: 2px;
  width: 100%;
  font-size: inherit;
}

input.small {
  padding: 6px 0;
  font-size: small;
}

input.medium {
  padding: 8px 0;
  font-size: medium;
}

input.large {
  padding: 10px 0;
  font-size: large;
}

input:focus {
  outline: none;
}
