.menu {
  position: relative;
  min-width: max-content;
}

.menu__icon__rotate {
  transform: rotate(180deg);
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: all 0.3s;
  margin-top: 4px;
  overflow: hidden;
  transform-origin: top;
}

.menu__list.floating {
  display: flex;
  flex-direction: column;
  width: max-content;
  position: absolute;
  border: 1px solid rgb(34, 32, 42);
  border-radius: 6px;
  padding: 6px;
  gap: 4px;
  background-color: rgb(43, 41, 53);
  margin-top: 4px;
  transition: all 0.3s;
  transform-origin: top;
  z-index: 12;
}
.menu__list.open {
  /* visibility: visible; */
  opacity: 1;
  transform: scaleY(1);
  /* height: max-content; */
}
.menu__list.closed {
  /* visibility: hidden; */
  opacity: 0;
  transform: scaleY(0);
  /* height: 0; */
}
.menu__list.left {
  left: 0;
}
.menu__list.right {
  right: 0;
}
.shadow {
  box-shadow: var(--shadown);
}
