.dialog {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
  z-index: 10;
}

.dialog.open {
  backdrop-filter: blur(4px);
  opacity: 1;
  pointer-events: none;
}
.dialog.closed {
  opacity: 0;
  pointer-events: none;
}
.dialog__content {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 90%;
  min-width: 320px;
  pointer-events: all;
  z-index: 11;
}
.dialog__content.open {
  transform: scale(1);
}
.dialog__content.closed {
  transform: scale(0);
}

.dialog__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dialog__header h2 {
  font-size: 20px;
  font-weight: bold;
}
.dialog__header button {
  width: 20px;
}
.dialog__body {
  font-size: 14px;
}
.dialog__footer {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
  padding-top: 10px;
  padding-top: 10px;
}
