.card {
  border: 1px solid #1d1931;
  border-radius: 6px;
  transition: all 0.3s;
  background: #262c37;
}

.card.flat {
  background: transparent;
}

.card.solid {
  box-sizing: border-box;
}

.card.bordered {
  background: transparent;
  border: 1px solid #353050;
}

.card.small {
  padding: 12px;
}
.card.medium {
  padding: 16px;
}
.card.large {
  padding: 20px;
}

.card.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
}

.card.hover:hover {
  background: #232833;
}
